<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
  <a href="https://www.flaticon.com/free-icons/buy" title="buy icons"></a>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  
</head>
<body>
  <form [formGroup]="unversiteForm" (ngSubmit)="addUniversite()" enctype="multipart/form-data">
    <div class="mb-3">
        <label for="nomUniversite" class="form-label">Nom Universite</label>
        <input type="text" id="nomUniversite" class="form-control" formControlName="nomUniversite">
        <div class="alert alert-danger" *ngIf="unversiteForm.get('nomUniversite')?.invalid && (unversiteForm.get('nomUniversite')?.touched || unversiteForm.get('nomUniversite')?.dirty)">
            <div *ngIf="unversiteForm.get('nomUniversite')?.errors?.['required']">Nom Universite is required!</div>
        </div>
    </div>
    <div class="mb-3">
        <label for="adresse" class="form-label">Adresse</label>
        <input type="text" id="adresse" class="form-control" formControlName="adresse">
        <div class="alert alert-danger" *ngIf="unversiteForm.get('adresse')?.invalid && (unversiteForm.get('adresse')?.touched || unversiteForm.get('adresse')?.dirty)">
            <div *ngIf="unversiteForm.get('adresse')?.errors?.['required']">Adresse is required!</div>
        </div>
    </div>

    <div class="form-group">
        <label for="image">Image:</label>
        <input type="file" id="image" name="image" formControlName="image" required />
    </div>   
  
    <div class="mb-3">
        <input type="submit" class="btn btn-primary" [disabled]="unversiteForm.invalid">
    </div>
    
</form>
</body>
</html>
