.container{
    width: auto;
    height: auto;
}

.starter{
    padding: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.img{
    height: auto;
    width:300px;
    background-color: black;
    margin-right: 60px;
    border-radius: 5px;
}

.description{
    display: flex;
    flex-direction: column;
    
}

.description div{
    width: 300px;
    margin-top: 8px;
    padding: 10px;
    border:1px black solid ;
    border-radius: 5px;
}

.bookBtn{
    height: 50px;
    width: 100px;
    margin-top: 12px;
    margin-left: 60px;
    font-size: 1.5rem;
    border-radius: 5px;
    background-color: bisque;
}

.bookBtn:hover{
    background-color: black;
    color: beige;
    transition: 0.7s;
}

