<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <link rel="stylesheet" href="listuniversite.component.css">

</head>
<body>
  <div class="container mt-5">
    <h2>Liste des Universites</h2>
  
    <div class="table-responsive">
      <div class="input-group mb-3">
        <input type="text" class="form-control" name="search" [(ngModel)]="searchtext">
        <div class="input-group-append">
          <button class="btn btn-success" (click)="searchUniversite()">Search</button>
        </div>
      </div>
    </div>
  
    <div>
      <div class="input-group mb-3">
        <button class="btn btn-success" (click)="addUniversite()">Add University</button>
      </div>
    </div>
  
    <table class="table table-bordered mt-3">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nom Universite</th>
          <th scope="col">Adresse</th>
          <th scope="col">Image</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let u of universites">
          <th scope="row">{{ u.id }}</th>
          <td>{{ u.nomUniversite }}</td>
          <td>{{ u.adresse }}</td>
          <td>
            <a href="#">
              <img src="{{ u.image }}" style="height: 200px; width: 250px" alt="" />
            </a>
          </td>
          <td>
            <button (click)="deleteUniversite(u.id)">
              <i class="fas fa-trash"></i> 
            </button>
         
            <button (click)="updateUniversite(u.id)">
              <i class="fas fa-pencil-alt"></i> 
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</body>
</html>