<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Responsive Sidebar Menu</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  </head>
  <body>
    <input type="checkbox" id="check">
    <label for="check">
      <i class="fas fa-bars" id="btn"></i>
      <i class="fas fa-times" id="cancel"></i>
    </label>
    <div class="sidebar">
      <header>My Menu</header>
      <a class="nav-link" routerLink="/" [routerLinkActive]="['active']">
        <i class="fas fa-qrcode"></i>
        <span>Home</span>
      </a>
      <a class="nav-link" routerLink="/users" [routerLinkActive]="['active']">
        <i class="fas fa-link"></i>
        <span>Users</span>
      </a>
      <a class="nav-link" routerLink="chambre/chambres" [routerLinkActive]="['active']">
        <i class="fas fa-stream"></i>
        <span>Chambres</span>
      </a>
      <a class="nav-link" routerLink="/universite/universites" [routerLinkActive]="['active']">
         <i class="fas fa-calendar"></i>
        <span>Universities</span>
      </a>
      <a class="nav-link" routerLink="/foyer/foyers" [routerLinkActive]="['active']">
        <i class="far fa-question-circle"></i>
        <span>Foyers</span>
      </a>
      <a href="#">
        <i class="fas fa-sliders-h"></i>
        <span>Services</span>
      </a>
      <a class="nav-link" routerLink="/login" [routerLinkActive]="['active']">
        <i class="far fa-envelope"></i>
        <span>Login</span>
      </a>
    </div>
   
  </body>
</html>